DB_DIALECT=mysql+pymysql
DB_HOST=mysql
DB_PORT=3306
DB_NAME=hotel_ai
DB_USER=hotel_ai_user
DB_PASSWORD=change_me

AUTH_SERVICE_URL=http://auth-service:8105
SEMANTIC_SERVICE_URL=http://semantic-service:8101
METRIC_SERVICE_URL=http://metric-service:8102
SQL_GUARDRAIL_SERVICE_URL=http://sql-guardrail-service:8103
EXPLANATION_SERVICE_URL=http://explanation-service:8104
DB_EXECUTOR_SERVICE_URL=http://db-executor-service:8106
AUDIT_SERVICE_URL=http://audit-service:8107
